:root {
--color00: #162533;
--color01: #162533;
--color02: #162533;
--color03: #ee5b6e;
--color04: #d9607d;
--color05: #d9607d;
--color06: #d9607d;
--color07: #d9607d;
--color08: #9c413e;
--color09: #d92640;
--color0A: #f29eaa;
--color0B: #29a0d6;
--color0C: #349bcb;
--color0D: #6a6a95;
--color0E: #96698e;
--color0F: #c6615e;
}
